body {
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}


.navbar {
  background-color: lightgray;
}
.navbar a:hover {
  color: black;
}

