
body {
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-blend-mode: darken;
}


.navbar {
    background-color: lightgray;
}

.navbar a:hover {
    color: black;
}
